<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <context:component-scan base-package="edu.buet.cse.spring.interview.ch02.v5" />

  <bean id="binarySearchService" class="edu.buet.cse.spring.interview.ch02.v5.service.impl.BinarySearchService" />

  <bean id="bubbleSortAlgorithm" class="edu.buet.cse.spring.interview.ch02.v5.service.impl.BubbleSortAlgorithm" />

  <bean id="selectionSortAlgorithm"
    class="edu.buet.cse.spring.interview.ch02.v5.service.impl.SelectionSortAlgorithm" />

  <bean id="intArrayGenerator" class="edu.buet.cse.spring.interview.ch02.v5.service.impl.IntArrayGeneratorImpl" />

  <bean id="myServiceProvider" class="edu.buet.cse.spring.interview.ch02.v5.service.impl.MyServiceProvider">
    <constructor-arg name="intArrayGenerator" ref="intArrayGenerator" />
    <constructor-arg name="sortAlgorithm" ref="bubbleSortAlgorithm" />
    <constructor-arg name="searchService" ref="binarySearchService" />
  </bean>
</beans>